<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Requests</title>
    <link rel="stylesheet" href="/public/assets/request.css">
</head>
<body>

<!-- This is  start of the navbar -->
<div class="topnav">
  <a id="title" href="/">VIT ProjectMate</a>
  <a class="alig" href="/projects">Explore</a>
  <a class="alig" href="/about">About</a>
  <a class="alig" href="/contact">Contact</a>
  <a class="alig" href="/gallery">Gallery</a>
  
  <a class="alig" href="/register">Register</a>
  <a class="alig" href="/login">Login</a>
  
      <a class="alig" href="/logout">Logout</a>

  <a href="/userprofile"><img src="/" alt=""></a>
  
</div>
<!-- navbar end -->
    
    <!-- list of application of projects -->
      <section>
        <div class="header">
          
          <div class="element1 abc">
            <p>Project Title</p>
    
          </div>
          <div class="element2 abc">
            <p class="created">Created By</p>
    
          </div>
          <div class="element3 abc">
            <p>Status</p>
    
          </div>
    
          
      </div>
    
      
            <!-- request -->
            
            
          <div class="header">
            
            <div class="element1 abc element">
              <p></p>
      
            </div>
            <div class="element2 abc element">
              <p class="created"></p>
      
            </div>
            <div class="element3 abc">
                <p class="created">
                  
                  
                
              
                You are in Team
             
                 pending...
              </p>
            </div>
            <div class="element3 abc">
              <form action="/request//delete" method="post">
                <button style="margin-left: 6rem;"class="btn" type="submit">Cancel</button>
              </form>
            </div>
        </div>
      <!-- request -->


      
      


      </section>


       <!-- footer start -->
        <div class="footer">
            <p>Copyright &#169; 2025 Aarushi Chaddha</p>
        </div>
        <!-- footer end -->
     
</body>
</html>