<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/assets/profile.css">
</head>
<body>

  <!-- This is  start of the navbar -->
  <div class="topnav">
    <a id="title" href="/">VIT ProjectMate</a>
    <a class="alig" href="/projects">Explore</a>
    <a class="alig" href="/about">About</a>
    <a class="alig" href="/contact">Contact</a>
    <a class="alig" href="/gallery">Gallery</a>
    
    <a class="alig" href="/register">Register</a>
    <a class="alig" href="/login">Login</a>
    
        <a class="alig" href="/logout">Logout</a>
 
    <a href="/userprofile"><img src="/" alt=""></a>
    
</div>
  <!-- navbar end -->


   <!-- profile section start -->
    <div class="container">
        <div class="profile">
            <img src="/" alt="">
        </div>
        <div class="userdata">
            <ul>
            <li class="name"></li>
            <li>About me: </li>
            <li>Vit Email: </li>
            <li>Institute:  </li>
            <li>Favourite Programming Languages:</li>
            <li> <a href="" target="_blank"> </a></li>
            <li> <a href="" target="_blank"></a></li>
        </ul>
        </div>
    </div>

  


    <!-- footer start -->
      <div class="footer">
        <p>Copyright &#169; 2025 Aarushi Chaddha</p>
    </div>
    <!-- footer ended -->
 
</body>
</html>